*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
} 
.flex-row{
    display: flex;
    flex: row rowrap;
    align-items: center;
}
.theme-dark{
    --bg-top-image: 0 0 url(./images/bg-desktop-dark.jpg) no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(234, 39%, 85%);
    --font-color-hover: #fff;
}
.theme-light{
    --bg-top-image: 0 0 url(./images/bg-desktop-light.jpg) no-repeat;
    --main-bg: hsl(0, 0%, 98%);
    --todo-bg: hsl(0, 0%, 98%);
    --todo-shadow: hsl(235, 19%, 35%);
    --font-color: hsl(236, 9%, 61%);
    --font-color-hover: hsl(235, 21%, 11%);
}
body{
    font-size: 400px 18px/1;
    font-family: 'Noto Sans', sans-serif;
    background: var(--bg-top-image);
    background-color: var(--main-bg);
    background-size: contain;
    color: var(--font-color);
}
header, main{
    max-width: 550px;
    margin: 0 auto;
}
header{
    justify-content: space-between;
}
h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: fff;
    letter-spacing: 0.5rem;
}
.theme-block #theme{
    display: none;
}
.theme-block #theme + label::before{
    content: '';
    background: url(./images/icon-sun.svg);
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.theme-block #theme:checked + label::before{
    background: url(./images/icon-moon.svg);
}
 