*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
} 
.flex-row{
    display: flex;
    flex: row rowrap;
    align-items: center;
}
.theme-dark{
    --bg-top-image: 0 0 url(./images/bg-desktop-dark.jpg) no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(234, 39%, 85%);
    --font-color-hover: #fff;
}
.theme-light{
    --bg-top-image: 0 0 url(./images/bg-desktop-light.jpg) no-repeat;
    --main-bg: hsl(0, 0%, 98%);
    --todo-bg: hsl(0, 0%, 98%);
    --todo-shadow: hsl(235, 19%, 35%);
    --font-color: hsl(235, 24%, 19%);
    --font-color-hover: hsl(235, 21%, 11%);
}
body{
    font-size: 400px 18px/1;
    font-family: 'Noto Sans', sans-serif;
    background: var(--bg-top-image);
    background-color: var(--main-bg);
    background-size: contain;
    color: var(--font-color);
    padding: 0 15px;
}
header, main{
    max-width: 550px;
    margin: 0 auto;
    
}
header{
    justify-content: space-between; 
    padding-top: 50px;
}
h1{
    font-weight: 700;
    font-size: 2.5rem;
    color: fff;
    letter-spacing: 0.5rem;
}
.theme-block #theme{
    display: none;
}
.theme-block #theme + label::before{
    content: '';
    background: url(./images/icon-sun.svg);
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.theme-block #theme:checked + label::before{
    background: url(./images/icon-moon.svg);
}
.add-new-item{
    background: var(--todo-bg);
    height: 55px;
    border-radius: 6px;
    padding: 8px;
    margin: 5px; 
}
.add-new-item #addItem{
    background: transparent;
    color: var(--font-color);
    border: 0;
    outline: 0;
    width: 80%;
    height: 60px;
    font-size: 0.9rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}
.add-new-item span{
    width: 25px;
    height: 25px;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    margin: 5px;
}
.content {
    background: var(--todo-bg);
    border-radius: 5px;
    box-shadow: 0 5px 25px -12px var(--todo-shadow);
    margin: 5px;
    color: var(--font-color);
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li{
    padding: 10px;
    min-height: 65px;
    border-bottom: 1px solid var(--font-color);
    border-radius: 5px;
    align-items: center; 
    position: relative;
}
ul li input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer; 
}
ul li label{
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
.checkmark{
    position: absolute;
    top: 10px;
    left: 0;
    height: 25px;
    width: 25px;
}
.text{
    position: relative; 
    top: 12px;
}
ul li input[type="checkbox"] ~ .checkmark {
    border: 1px solid var(--font-color);
    border-radius: 50px;
}
ul li input[type="checkbox"] ~ .checkmark:hover{
    border: 0; 
    background: linear-gradient(100deg, hsl(192, 100%, 67%), hsl(280, 87%,65%) );
}
/* ul li input[type="checkbox"] ~ .checkmark:hover::before{
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: var(--todo-bg);
    display: block;
} */
ul li input[type="checkbox"]:checked ~ .checkmark{
    background: center url(./images/icon-check.svg)no-repeat, linear-gradient(100deg, hsl(192, 100%, 67%), hsl(280, 87%,65%) );
}
ul li input[type="checkbox"]:checked ~ .text{
    text-decoration: line-through;
}
.remove{
    background: url(./images/icon-cross.svg) no-repeat;
    width: 18px;
    height: 18px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 24px;
}
ul li:hover .remove, .clear{
    display: block;
    color: var(--font-color);
}
.botton-items{
    justify-content: space-between;
    height: 65px;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

.filter input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.filter input[type="radio"]:checked ~ span{
    color: hsl(221, 62%, 52%); 
}
.filter label, .clear{
    cursor: pointer;
}
.filter label:hover, .clear:hover{
    color: var(--font-color-hover);
}  